# Copyright (c) 2009-2012, Code Aurora Forum. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above copyright
#       notice, this list of conditions and the following disclaimer in the
#       documentation and/or other materials provided with the distribution.
#     * Neither the name of Code Aurora nor
#       the names of its contributors may be used to endorse or promote
#       products derived from this software without specific prior written
#       permission.
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
# AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
# IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
# NON-INFRINGEMENT ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR
# CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
# EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
# PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS;
# OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR
# OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF
# ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#

on early-init
    mkdir /firmware 0771 system system
    symlink /data/tombstones /tombstones
    mount debugfs debugfs /sys/kernel/debug

on boot
   write /sys/devices/i2c-3/3-0024/cyttsp_update_fw 1
   write /sys/devices/i2c-3/3-005b/update_fw 1
   exec /system/bin/init.atmel.fw_update.sh

on post-fs-data
   mkdir /data/tombstones 0771 system system
   mkdir /tombstones/modem 0771 system system
   mkdir /tombstones/lpass 0771 system system
   mkdir /tombstones/wcnss 0771 system system
   mkdir /tombstones/dsps 0771 system system
   mkdir /tombstones/mdm 0771 system system
   mkdir /tombstones/mdm2 0771 system system


on property:persist.sys.display_prefer=0
    write /sys/devices/virtual/graphics/fb0/msm_fb_dispparam 2

on property:persist.sys.display_prefer=1
    write /sys/devices/virtual/graphics/fb0/msm_fb_dispparam 1

on property:persist.sys.display_prefer=2
    write /sys/devices/virtual/graphics/fb0/msm_fb_dispparam 2

on property:persist.sys.display_prefer=3
    write /sys/devices/virtual/graphics/fb0/msm_fb_dispparam 3

on property:persist.sys.display_ce=10
    write /sys/devices/virtual/graphics/fb0/msm_fb_dispparam 240

on property:persist.sys.display_ce=11
    write /sys/devices/virtual/graphics/fb0/msm_fb_dispparam 16
