
on fs
    mount ext4 /dev/block/platform/msm_sdcc.1/by-name/system1 /system wait rw barrier=1 noatime nodiratime

    wait /dev/block/platform/msm_sdcc.1/by-name/modem1
    mount vfat /dev/block/platform/msm_sdcc.1/by-name/modem1 /firmware ro shortname=lower dmask=177 fmask=177
